
        
body { color:darkslategrey; background:floralwhite;
         font-family: Arial, Helvetica, sans-serif; }
        

         table, td, th {
                border: 2px solid #220022;
                border-collapse: collapse;
                 }
                
                td {
                    text-align: center;
                }
                
                tr {
                      height: 40px;
                }
                
                table {
                    font-size: 14pt;
                }
                
                th {
                       font-size: 1.5em;
                }